
*.dll
*.pdb
*.xml
*.cache
/COMANDFAST.Web/packages/
/COMANDFAST.Web/bin/
/COMANDFAST.Web/obj/
/COMANDFAST.Layer.Business/bin/
/COMANDFAST.Layer.Data/bin/
/COMANDFAST.Layer.Business/obj/
/COMANDFAST.Layer.Data/obj/
